body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Courier New', Courier, monospace;
   margin: 0;
}
.container {
    border: 1px solid red;
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
}

.header {
    background-color: rgb(61, 155, 139, 0.85);
    color: white;
    display: flex;
    justify-content: space-between;
    max-width: initial;
    height: 60px;
    align-items: center;
    box-shadow:1px 6px 40px 16px rgb(0, 0, 0, 0.83); ;
}
.header h1 {
margin: 0 0.5em;
font-size: 1.5em;
}
.header img {
    width: 130px;
}
.list-items {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0 ;
}
.list-items h4 {
    margin: 0;
}
.list-items li {
    margin: 0 0.5em;
}

.contenido {
    background-color: lightcoral;
    padding: 1em;
    opacity: 0.78;
}
footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.container1 {   
    height: 100px;
      color: white;
      display: inherit;
      justify-content: inherit;
      /* border: 1px solid red; */
      text-align: center;
      max-width: 80%;
      margin: 0;
      background-color: black;
      align-items: inherit;
      /* padding: 0 18px; */
      width: 1300px;
    }
p{
    margin: 0;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}
.container1 div {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin: 10px;
}
.container1 img {
    margin-left: 1em;
}
@media screen and (max-width: 1200px) {
     
}
@media screen and (max-width: 760px) {
     
}
@media screen and (max-width: 480px) {
     
}
@media screen and (max-width: 320px) {
     
}